.container {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  color: var(--dashboard-primary-color-dark);
  font-size: 2rem;
  transform: translateY(-50%);
}

.form__control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  height: 4.5rem;
  border: 1px solid var(--dashboard-primary-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  margin: auto;
  padding: 1rem 0 1rem 4rem;
  outline: none;
}

.input::placeholder {
  letter-spacing: 1px;
  color: var(--dashboard-faded-text);
  text-transform: capitalize;
}

.input__select {
  padding-right: 0;
}

.select {
  color: var(--dashboard-primary-color-dark);
  text-transform: capitalize;
}

.option {
  text-transform: capitalize;
  color: var(--dashboard-faded-text);
}
