.footer {
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  margin-top: var(--margin-9);
}

.company {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.dev {
  width: 100%;
}

.dev__job {
  font-weight: 600;
  text-transform: capitalize;
}

.dev__link {
  text-decoration: none;
}

.dev__job,
.dev__name {
  text-align: center;
  margin: 1rem 0;
}

.dev__name {
  margin-bottom: 2rem;
}
