.header,
.logo {
  display: flex;
  align-items: center;
}

.header {
  margin: 1rem var(--margin-3);
  box-sizing: border-box;
  justify-content: space-between;
}

.logo {
  width: 12rem;
  height: 10rem;
}
