.product__grid {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: var(--margin-3);

  margin: var(--margin-3) var(--margin-6);
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .product__grid {
    grid-template-columns: 1fr;

    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: var(--margin-3);

    margin: var(--margin-3);
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .product__grid {
    grid-template-columns: 1fr 1fr;
  }
}
