.container {
  display: flex;
  flex-direction: column;
}

.header {
  height: 5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5fr 2fr 1fr;
  grid-gap: 0.5rem;
}

.filter {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}
